{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
